@page
@model GameWebSiteProject.Pages.home_unregModel
@{
    Layout = "_LayoutUnReg";
    ViewData["Title"] = "NOT HOME YET";
}

<div class="main">
    <div class="home-box" style="background-color:black">
        <h1>
            <strong style="color:#D9C0E4">Why haven't you logged in yet?</strong>
            <img width="384px"src="~/css/images/headert.jpg" />
        </h1>
    </div>
</div>
