@page
@model GameWebSiteProject.Pages.home_unregModel
@{
    Layout = "_LayoutUnReg";
    ViewData["Title"] = "NOT HOME YET";
}

<div class="main">
    <div id="mustLogin" class="home-box">
        <h1>
            <strong id="whyText">Why haven't you logged in yet?</strong>
            <img id="why" src="~/css/images/headert.jpg" />
        </h1>
    </div>
</div>
