@page
@model GameWebSiteProject.Pages.home_regModel
@{
    ViewData["Title"] = "HOME";
}
@using Microsoft.AspNetCore.Http;

<div class="main">
    <div class="home-box" style="background-color:#2B1E39">
        <h1>
            <strong style="color:#D9C0E4">Welcome, @Model.Username!</strong>
            <img src="https://4pubg.com/wp-content/uploads/2020/10/among-us.png" />
        </h1>
    </div>
</div>
