@page
@model GameWebSiteProject.Pages.PublishWorkModel
@{
    ViewData["Title"] = "PUBLISH WORK";
}

<div class="main">
    <form method="post" enctype="multipart/form-data">
        <div class="profile-wrap">
            <div class="container" style="display:flex; flex-direction:column; align-items:center">
                <div class="profile-info edit">
                    <div class="form-group">
                        <input style="width:300px" name="Name" required class="form-control" placeholder="Enter your work's name...">
                    </div>
                </div>
                <label for="exampleFormControlSelect1">Choose your work's type</label>
                <select name="Type" style="width:300px" class="form-control" id="exampleFormControlSelect1">
                    <option>FanArt</option>
                    <option>Meme</option>
                    <option>CustomSkin</option>
                </select>
                <div class="profile-avatar-box">
                    <div class="profile-avatar">
                        <h3 style="color:#9C4973">Work's image</h3>
                        <img width="640px" id="blah" src="#" />
                    </div>
                </div>
            </div>
            <input name="image" required placeholder="Choose your work's image" type="file" id="imgInp" class="form-control" style="margin-top:10px" />
            <input type="submit" class="profile-avatar-changebutton" asp-page-handler="Publish" value="Publish work" />
            <div id="newInfo">             
                <div class="character-box">
                    <label for="exampleFormControlSelect1">Your work's description</label>
                    <textarea name="Description" required id="newInfoInput" class="form-control" style="resize:none; height:300px"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
