@page
@model GameWebSiteProject.Pages.user_profile_editModel
@{
    ViewData["Title"] = "PROFILE EDIT";
}

<div class="main">
    <form method="post" enctype="multipart/form-data">
        <div class="profile-wrap">
            <div class="profile-title">
                <div class="profile-avatar-box">
                    <div class="profile-avatar">
                        <h3 id="YourAvatar">Your current avatar</h3>
                        <img src="data:image/jpeg; base64, @(Convert.ToBase64String(Model.Avatar))" width="384px" />
                    </div>
                    <div class="profile-avatar">
                        <h3 id="YourAvatar">Your new avatar</h3>
                        <img width="384px" id="blah" src="#" />
                    </div>
                </div>
            </div>
            <input name="Avatar" placeholder="Choose your new avatar" type="file" id="imgInp" class="form-control"/>
            <input type="submit" class="profile-avatar-changebutton" asp-page-handler="Edit" value="Submit changes" />
            <div id="newInfo">
                <div class="profile-info edit">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Nickname in Among Us:</label>
                        <input id="newInfoStats" name="NewNickname" class="form-control" placeholder="New nickname" value="@Model.Nickname" required>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Age:</label>
                        <input id="newInfoStats" name="NewAge" class="form-control age" placeholder="New age" pattern="^(?:1[01][0-9]|120|1[7-9]|[2-9][0-9])$" value="@Model.Age" maxlength="3" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sex:</label>
                        <select id="newInfoStats" name="NewSex" class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="character-box">
                    <label for="exampleFormControlSelect1">Tell us about You</label>
                    <textarea name="NewAbout" id="newInfoInput" class="form-control">@Model.About</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
